<!DOCTYPE html>
<html lang="en" ng-app="openITCOCKPIT">
<head>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script data-pace-options='{ "ajax": false }' src='/smartadmin/js/plugin/pace/pace.min.js'></script>
    <title>
        Tenants - open source system monitoring    </title>
    <link href="/favicon.ico?v3.7.2" type="image/x-icon" rel="icon"/><link href="/favicon.ico?v3.7.2" type="image/x-icon" rel="shortcut icon"/>
	<link rel="stylesheet" type="text/css" href="/css/lib/jquery-jvectormap-1.2.2.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/lib/jquery.imgareaselect-0.9.10/imgareaselect-animated.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/lib/jquery.svg.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap/css/bootstrap.min.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/chosen/chosen.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/chosen/chosen-bootstrap.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/list_filter.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/fineuploader/fineuploader-3.2.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/select2/select2.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/select2/select2-bootstrap.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap-datepicker.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap-datetimepicker.min.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/gauge/css/gauge.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/smartadmin/css/font-awesome.min.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/smartadmin/css/smartadmin-production.min.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/smartadmin/css/smartadmin-production-plugins.min.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/smartadmin/css/smartadmin-skins.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/smartadmin/css/demo.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/smartadmin/css/your_style.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/smartadmin/css/animate.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/lockscreen.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/base.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/app.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/status.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/lists.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/ansi.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/console.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/animate_new.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/prism.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/gridstack/gridstack.min.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/smartadmin/js/plugin/fullcalendar-2.3.1/fullcalendar.min.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/vis-4.21.0/dist/vis.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/my_vis.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/noty/noty.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/flippy.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/css/vendor/image-picker.css?v3.7.2"/>
	<link rel="stylesheet" type="text/css" href="/vendor/angular-gridster/dist/angular-gridster.css?v3.7.2"/>
<script src="/vendor/jquery/dist/jquery.min.js?v3.7.2"></script>
<script src="/vendor/jqueryui/jquery-ui.min.js?v3.7.2"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js?v3.7.2"></script>
<script src="/vendor/angular/angular.min.js?v3.7.2"></script>
<script src="/js/lib/jquery-cookie.js?v3.7.2"></script>
<script src="/js/vendor/chosen.jquery.min.js?v3.7.2"></script>
<script src="/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js?v3.7.2"></script>
<script src="/js/app/layoutfix.js?v3.7.2"></script>
<script src="/js/lib/ColorGenerator.js?v3.7.2"></script>
<script src="/js/lib/colr.js?v3.7.2"></script>
<script src="/js/lib/php.js?v3.7.2"></script>
<script src="/smartadmin/js/plugin/flot/jquery.flot.cust.js?v3.7.2"></script>
<script src="/smartadmin/js/plugin/flot/jquery.flot.axislabels.js?v3.7.2"></script>
<script src="/smartadmin/js/plugin/flot/jquery.flot.time.js?v3.7.2"></script>
<script src="/smartadmin/js/plugin/flot/jquery.flot.fillbetween.js?v3.7.2"></script>
<script src="/smartadmin/js/plugin/flot/jquery.flot.resize.js?v3.7.2"></script>
<script src="/smartadmin/js/plugin/flot/jquery.flot.threshold.js?v3.7.2"></script>
<script src="/smartadmin/js/plugin/flot/jquery.flot.selection.js?v3.7.2"></script>
<script src="/js/lib/jquery.nestable.js?v3.7.2"></script>
<script src="/js/lib/angular-nestable.js?v3.7.2"></script>
<script src="/js/lib/parseuri.js?v3.7.2"></script>
<script src="/js/vendor/vis-4.21.0/dist/vis.js?v3.7.2"></script>
<script src="/js/scripts/ng.app.js?v3.7.2"></script>
<script src="/js/vendor/UUID.js-4.0.3/dist/uuid.core.js?v3.7.2"></script>
<script src="/js/vendor/lodash/vendor/underscore/underscore.js?v3.7.2"></script>
<script src="/js/vendor/noty/noty.min.js?v3.7.2"></script>
<script src="/js/vendor/gauge.min.js?v3.7.2"></script>
<script src="/js/lib/jquery.svg.min.js?v3.7.2"></script>
<script src="/js/lib/jquery.svgfilter.min.js?v3.7.2"></script>
<script src="/smartadmin/js/plugin/dropzone/dropzone.min.js?v3.7.2"></script>
<script src="/vendor/noty/noty.min.js?v3.7.2"></script>
<script src="/js/lib/rangyinputs-jquery-1.1.2.min.js?v3.7.2"></script>
<script src="/vendor/javascript-detect-element-resize/jquery.resize.js?v3.7.2"></script>
<script src="/vendor/angular-gridster/dist/angular-gridster.min.js?v3.7.2"></script>
<script src="/js/lib/GraphDefaults.js?v3.7.2"></script>
<script src="/js/compressed_angular_services.js?v3.7.2"></script>
<script src="/js/compressed_angular_directives.js?v3.7.2"></script>
<script src="/js/compressed_angular_controllers.js?v3.7.2"></script>
</head>
<body ng-cloak class=" ng-cloak">
<script>
    Dropzone.autoDiscover = false;
</script>

<div id="global-loading">
    <i class="fa fa-refresh fa-spin"></i>
</div>

<header id="header">
    <div id="logo-group">
        <span id="logo">
            <div id="logo-image"></div>
            <p id="logo-text">openITCOCKPIT</p>
        </span>

                    <system-health></system-health>
            </div>


            <div class="pull-right">
            <div class="btn-header pull-right">
            <span>
                <a href="/login/logout" data-original-title="Sign out" data-placement="left"
                   rel="tooltip" data-container="body">
                    <i class="fa fa-sign-out"></i>
                </a>
            </span>
            </div>

            <div id="hide-menu" class="btn-header pull-right">
            <span>
                <a href="javascript:void(0);" data-original-title="Collapse menu"
                   data-placement="left" rel="tooltip" data-container="body">
                    <i class="fa fa-arrow-circle-left"></i>
                </a>
            </span>
            </div>

            <div class="btn-header pull-right">
                <span>
                                            <a href="/exports/index" export-status=""
                           data-original-title="Refresh monitoring configuration"
                           data-placement="left" rel="tooltip" data-container="body">
                            <i class="fa fa-retweet" ng-hide="exportRunning"></i>
                            <i class="fa fa-refresh fa-spin txt-color-red" ng-show="exportRunning"></i>
                        </a>
                                    </span>
            </div>
            <server-time></server-time>
            <version-check></version-check>
            <push-notifications></push-notifications>

            
        </div>
    </header><aside id="left-panel">
    <div class="login-info">
                <span>
            <a data-html="true" data-original-title="Edit profile" data-placement="right"
               rel="tooltip" href="/profile/edit">
                <img class="online" alt="me" src="/img/fallback_user.png">
                <span style="max-width: 142px;">
                    View Er              </span>
           </a>
                            <span class="text-info pull-right" style="margin-top: 11px;">
                    <i class="fa fa-lg fa-trophy"
                       style="color:#FFD700; text-shadow: 0px 0px 9px rgba(255, 255, 0, 0.50)" id="userRootIcon"
                       data-html="true" data-original-title="Administrator privileges"
                       data-placement="right" rel="tooltip"></i>
                </span>
                    </span>
    </div>
    <nav
            menu
            phpplugin=""
            phpcontroller="tenants"
            phpaction="index">
    </nav>
    <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>
</aside>
<div id="uglyDropdownMenuHack"></div>
<div id="main" role="main" ng-controller="LayoutController">
    <div id="ribbon" class="hidden-mobile hidden-tablet">
        <span class="ribbon-button-alignment"></span>
        <ol class="breadcrumb">
            <li>
                <a href="/"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a href="/tenants" icon="fa fa-cube"><i class="fa fa-cube"></i> Tenants</a>            </li>
        </ol>
        
        <div class="pull-right">
            <span id="global_ajax_loader"><i class="fa fa-refresh fa-spin"></i> Loading data</span>
        </div>

    </div>

    <div id="content" style="opacity: 1;">
                                <div ng-controller="TenantsIndexController">
            <div ui-view>
                <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-home fa-fw "></i>
            System            <span>>
                Tenants            </span>
        </h1>
    </div>
</div>
<massdelete></massdelete>

<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
                <header>
                    <div class="widget-toolbar" role="menu">
                        <button type="button" class="btn btn-xs btn-default" ng-click="load()">
                            <i class="fa fa-refresh"></i>
                            Refresh                        </button>

                                                <button type="button" class="btn btn-xs btn-primary" ng-click="triggerFilter()">
                            <i class="fa fa-filter"></i>
                            Filter                        </button>
                    </div>

                    <div class="jarviswidget-ctrls" role="menu">
                    </div>
                    <span class="widget-icon hidden-mobile"> <i class="fa fa-cogs"></i> </span>
                    <h2 class="hidden-mobile">Tenants</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">

                        <div class="list-filter well" ng-show="showFilter">
                            <h3><i class="fa fa-filter"></i> Filter</h3>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group smart-form">
                                        <label class="input"> <i class="icon-prepend fa fa-cogs"></i>
                                            <input type="text" class="input-sm"
                                                   placeholder="Filter by name"
                                                   ng-model="filter.container.name"
                                                   ng-model-options="{debounce: 500}">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group smart-form">
                                        <label class="input"> <i class="icon-prepend fa fa-filter"></i>
                                            <input type="text" class="input-sm"
                                                   placeholder="Filter by description"
                                                   ng-model="filter.tenant.description"
                                                   ng-model-options="{debounce: 500}">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="pull-right margin-top-10">
                                        <button type="button" ng-click="resetFilter()"
                                                class="btn btn-xs btn-danger">
                                            Reset Filter                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="mobile_table">
                            <table id="tenant_list" class="table table-striped table-hover table-bordered smart-form"
                                   style="">
                                <thead>
                                <tr>
                                    <th class="no-sort sorting_disabled width-15">
                                        <i class="fa fa-check-square-o fa-lg"></i>
                                    </th>
                                    <th class="no-sort" ng-click="orderBy('Container.name')">
                                        <i class="fa" ng-class="getSortClass('Container.name')"></i>
                                        Tenant name                                    </th>
                                    <th class="no-sort" ng-click="orderBy('Tenant.description')">
                                        <i class="fa" ng-class="getSortClass('Tenant.description')"></i>
                                        Description                                    </th>
                                    <th class="no-sort" ng-click="orderBy('Tenant.is_active')">
                                        <i class="fa" ng-class="getSortClass('Tenant.is_active')"></i>
                                        Is active                                    </th>
                                    <th class="no-sort text-center">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="tenant in tenants">
                                    <td class="text-center" class="width-15">
                                        <input type="checkbox"
                                               ng-model="massChange[tenant.Tenant.id]"
                                               ng-show="tenant.Tenant.allowEdit">
                                    </td>
                                    <td>
                                        {{ tenant.Container.name }}
                                    </td>
                                    <td>
                                        {{ tenant.Tenant.description }}
                                    </td>
                                    <td class="text-center">
                                        <i ng-if="tenant.Tenant.is_active == 1"
                                           class="fa fa-check fa-lg txt-color-green"></i>
                                        <i ng-if="tenant.Tenant.is_active == 0"
                                           class="fa fa-power-off fa-lg txt-color-red"></i>
                                    </td>
                                    <td class="width-50">
                                        <div class="btn-group">
                                                                                            <a href="javascript:void(0);" class="btn btn-default"
                                                   ng-hide="tenant.Tenant.allowEdit">
                                                    &nbsp;<i class="fa fa-cog"></i>&nbsp;</a>
                                                                                        <a href="javascript:void(0);" data-toggle="dropdown"
                                               class="btn btn-default dropdown-toggle"><span
                                                        class="caret"></span></a>
                                            <ul class="dropdown-menu pull-right"
                                                id="menuHack-{{tenant.Tenant.id}}">
                                                                                                                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row margin-top-10 margin-bottom-10">
                                <div class="row margin-top-10 margin-bottom-10" ng-show="maps.length == 0">
                                    <div class="col-xs-12 text-center txt-color-red italic">
                                        No entries match the selection                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10 margin-bottom-10">
                                <div class="col-xs-12 col-md-2 text-muted text-center">
                                    <span ng-show="selectedElements > 0">({{selectedElements}})</span>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                <span ng-click="selectAll()" class="pointer">
                                    <i class="fa fa-lg fa-check-square-o"></i>
                                    Select all                                </span>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                <span ng-click="undoSelection()" class="pointer">
                                    <i class="fa fa-lg fa-square-o"></i>
                                    Undo selection                                </span>
                                </div>
                                <div class="col-xs-12 col-md-2 txt-color-red">
                                <span ng-click="confirmDelete(getObjectsForDelete())" class="pointer">
                                    <i class="fa fa-lg fa-trash-o"></i>
                                    Delete all                                </span>
                                </div>
                            </div>
                            <paginator paging="paging" click-action="changepage" ng-if="paging"></paginator>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>            </div>
        </div>
            </div>
</div>

<div id="scroll-top-container">
    <i class="fa fa-arrow-up fa-2x" title="Scroll back to top"></i>
</div>

<script src="/smartadmin/js/app.js"></script><script>
    $(document).ready(function(){
        //pageSetUp();

    });
</script>
</body>
</html>
