.chat-popup#myForm
  button.close#close-button(type="button" aria-label="Close")
    span(aria-hidden="true") &times;
  h2 Chat
  #msgBox
    ul#messages
  input.inputMessage(class="inputMessage"  placeholder="Type message.." name="msg" autocomplete="off" required)
button#open-button Chat