<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Using Handlebars as Templating Engine -->
  </head>
  <body>
    {{{body}}}
    <script src="/js/index.js"></script>
  </body>
</html>
