<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>A N S W E R S</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../css/main.css" />
</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header" th:replace="fragments/header :: header"></header>

			<!-- Menu -->
			<section id="menu" th:replace="fragments/menu :: menu"></section>
			
			<!-- Main -->
			<div id="main">
				<article class="post">
					<header>
						<div class="title">
							<h2>Change Password</h2>
						</div>
					</header>
					<div>
						<form action="/user/updatePassword" method="post">
							<label for="oldpass">Old Password:</label>
							<input type="password" id="oldpass" name="oldpass" /><br/><br/>
							<label for="newpass">New Password:</label>
							<input type="password" id="newpass" name="newpass" /><br/><br/>
							<label for="verify">Verify New Password:</label>
							<input type="password" id="verify" name="verify" /><br/><br/>
							<input type="submit" value="Submit" />
						</form>
						<div th:if="${message != null}">
							<p th:text="${message}"></p>
						</div>
					</div>
				</article>
			</div>
					
			<!-- Footer -->
			<section id="footer" th:replace="fragments/footer :: footer"></section>

		</div>


		<!-- Scripts -->
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/browser.min.js"></script>
		<script src="../../js/breakpoints.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/main.js"></script>
	
	</body>
</html>
