<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>A N S W E R S</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../css/main.css" />
</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header" th:replace="fragments/header :: header"></header>

				<!-- Menu -->
				<section id="menu" th:replace="fragments/menu :: menu"></section>

				<!-- Main -->
				<div id="main">
					<th:block th:each="question : ${questions}">
						<article class="post">
							<header>
								<div class="title">
									<h2 th:text="${question.title}"></h2>
								</div>
								<div class="meta">
									<a th:href="@{|/profile/${question.ownerId}|}" class="author"><span class="name" th:text="${question.ownerName}">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
									<time class="published" th:text="${question.friendlyDate}" >November 1, 2015</time>
								</div>
							</header>
							<p th:utext="${question.description}">My internet isn't working. Wha happened?</p>
							<footer>
								<ul class="actions">
									<li><a th:href="@{|/thread/${question.id}|}" class="button large">Continue Reading</a></li>
								</ul>
								<ul class="stats">
								<!--  
									<li><a href="#" th:text="${question.categoryName}">General</a></li>
									<li><a href="#" class="icon solid fa-heart">42</a></li>
									<li><a href="#" class="icon solid fa-comment" th:text="${question.answerCount}">42</a></li>
									-->
									<li><div th:text="${question.categoryName}">General</div></li>
									<li><div class="icon solid fa-heart">42</div></li>
									<li><div class="icon solid fa-comment" th:text="${question.answerCount}">42</div></li>
								</ul>
							</footer>
						</article>
					</th:block>

					<!-- Pagination -->
					<ul class="actions pagination">
						<th:block th:if="${page > 0}">
							<li><a th:href="@{|/index?page=${page-1}|}" class="button large previous">Previous Page</a></li>
						</th:block>
						<th:block th:unless="${page > 0}">
							<li><a href="#" class="disabled button large previous">Previous Page</a></li>
						</th:block>
						<th:block th:if="${questions.size() == 5}">
							<li><a th:href="@{|/index?page=${page+1}|}" class="button large next">Next Page</a></li>
						</th:block>
						<th:block th:unless="${questions.size() == 5}">
							<li><a href="#" class="disabled button large next">Next Page</a></li>
						</th:block>
					</ul>
						
				</div>

				<!-- Sidebar -->
				<section id="sidebar">

					<!-- Intro -->
					<section id="intro" th:replace="fragments/sidebar :: intro"></section>

					<!-- About -->
					<section class="blurb" th:replace="fragments/sidebar :: blurb"></section>

					<!-- Footer -->
					<section id="footer" th:replace="fragments/footer :: footer"></section>

				</section>

			</div>

		<!-- Scripts -->
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/browser.min.js"></script>
		<script src="../../js/breakpoints.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/main.js"></script>
	</body>
</html>
