<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>A N S W E R S</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../../css/main.css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" th:replace="fragments/header :: header"></header>

		<!-- Menu -->
		<section id="menu" th:replace="fragments/menu :: menu"></section>

		<!-- Main -->
		<div id="main">
			<article class="post">
				<header>
					<div class="title">
						<h2>Ask a Question</h2>
					</div>
				</header>
				<div>
					<th:block th:if="${username == null}">
						<div>Anonymous users can ask questions, but the contents
							will be review by a moderator before they are published. Please
							don't abuse this. :)</div>
					</th:block>
					<div th:if="${message != null}">
						<p th:text="${message}"></p>
					</div>
					<div>Allowed HTML elements are &lt;em&gt;, &lt;strong&gt;, and &lt;code&gt;</div>
					<form action="/question" method="post">
						<label for="title">Title:</label> <input type="text" id="title" name="title" /><br />
						<br /> <label for="description">Description:</label> <input type="text" id="description" name="description" /><br />
						<br /> <label for="category">Select a category:</label> 
						<select id="category" name="category">
							<option th:each="cat: ${categories}" th:value="${cat.id}" th:text="${cat.name}">
						</select><br />
						<br /> <input type="submit" value="Submit" class="button large" />
					</form>

				</div>
			</article>

			<!-- Footer -->
			<section id="footer" th:replace="fragments/footer :: footer"></section>

		</div>

	</div>



	<!-- Scripts -->
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/browser.min.js"></script>
	<script src="../../js/breakpoints.min.js"></script>
	<script src="../../js/util.js"></script>
	<script src="../../js/main.js"></script>
</body>
</html>
