<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>A N S W E R S</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../../css/main.css" />
</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header" th:replace="fragments/header :: header"></header>

			<!-- Menu -->
			<section id="menu" th:replace="fragments/menu :: menu"></section>

			<!-- Main -->
			<div id="main">
				<article class="post">
					<header>
						<div class="title">
							<h2>Users</h2>
						</div>
					</header>
					<table>
						<tr>
							<th>Id</th><th>Name</th><th>Email</th><th>Admin</th><th>Moderator</th><th>Actions</th>
						</tr>
						<tr th:each="user : ${users}" >
							<td th:text="${user.id}"></td>
							<td th:text="${user.username}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.admin}"></td>
							<td th:text="${user.mod}"></td>
							<td></td>
						</tr>
					</table>
					<footer></footer>
				</article>
				<article class="post">
					<header>
						<div class="title">
							<h2>Add new User</h2>
						</div>
					</header>
					<div th:if="${message != null}" th:text="${message}"></div>
					<div>
						<form action="/admin/users/create" method="post">
							<br/>
							<label for="name">Name:</label>
							<input type="text" id="name" name="name" /><br/>
							<label for="email">Email:</label>
							<input type="text" id="email" name="email" /><br/>
							<input type="submit" class="button large" value="Submit" />
						</form>
					</div>
				</article>
			</div>

			<!-- Sidebar -->
			<section id="sidebar">

				<!-- Intro -->
				<section id="intro" th:replace="fragments/sidebar :: intro"></section>

				<!-- Posts List -->
				<section th:replace="fragments/sidebar :: posts"></section>

				<!-- About -->
				<section class="blurb" th:replace="fragments/sidebar :: blurb"></section>	

				<!-- Footer -->
				<section id="footer"  th:replace="fragments/footer :: footer"></section>

			</section>

		</div>

		<!-- Scripts -->
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/browser.min.js"></script>
		<script src="../../js/breakpoints.min.js"></script>
		<script src="../../js/util.js"></script>
		<script src="../../js/main.js"></script>
	</body>
</html>
